* {
    font-family: 'Overpass', sans-serif;
}

body {

    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

button {
    cursor: pointer;
}
h1 {
    color: pink;
}
h1::before {
    content: '';
    border-bottom: solid 20px white;
    width: 3em;
}
