<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keech writes blogs | <%= title %></title>
</head>
<body>
        <nav>
            <div class='title'>
                <a href="/">
                    <h1>Keech writes things</h1>
                    <p>A keech site</p>
                </a>
            </div>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </nav>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi dicta dolorum vitae explicabo, ducimus voluptate eveniet rem laborum cum maiores eligendi autem ad ullam, ipsam perspiciatis atque qui nisi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi dicta dolorum vitae explicabo, ducimus voluptate eveniet rem laborum cum maiores eligendi autem ad ullam, ipsam perspiciatis atque qui nisi?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi dicta dolorum vitae explicabo, ducimus voluptate eveniet rem laborum cum maiores eligendi autem ad ullam, ipsam perspiciatis atque qui nisi?</p>
        </div>
    
</body>
</html>